@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #7e22ce; /* Purple */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 50px auto; /* Center */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}